<script setup lang="ts">
{{#if props.length}}
interface Props {
  {{#each props}}
  {{this.propName}}: {{#if (eq this.propType 'function')}}() => void{{else}}{{this.propType}}{{/if}};
  {{/each}}
}
const props = withDefaults(defineProps<Props>(), {
  {{#each props}}
  {{this.propName}}: {{#if (eq this.propType 'string')}}''{{else if (eq this.propType 'number')}}0{{else if (eq this.propType 'boolean')}}false{{else if (eq this.propType 'object')}}() => ({}){{else if (eq this.propType 'string[]')}}() => ['']{{else if (eq this.propType 'number[]')}}() => [0]{{else if (eq this.propType 'boolean[]')}}() => [false]{{else if (eq this.propType 'object[]')}}() => [{}]{{else if (eq this.propType 'function')}}() => {}{{/if}},
  {{/each}}
});
{{#if (hasModelValue props)}}

const emit = defineEmits(['update:modelValue'])
{{/if}}
{{/if}}
</script>

<template>
  <div class="{{ kebabCase name }}" data-testid="{{ kebabCase name }}">
    <span class="sr-only">{{ kebabCase name }}</span>
  </div>
</template>
